<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Harvard Forum</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/app.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
          <h3 class="text-muted"><a href="/" style="text-decoration:none">Harvard Forum</a></h3>
      </div>
 
      <div class="jumbotron">
        <h1>SIGN UP!</h1>
        <form class="form-signin">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

          <label for="confirmPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
           
          <a href="showLogIn" style><button id="btnLogIn" class="btn btn-lg btn-primary btn-block" type="button"> <style="color: white">Sign up</button></a>

          <p style="font-size:14px"> Already have an account? <a href="showLogIn">Log in here</a></p>
        </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>

    <script src="../static/app.js"></script>
  </body>
</html>